@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: #d4af37;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: 'Cormorant Garamond', serif;
}

.text-gold {
  color: var(--color-gold);
}

.bg-gold {
  background-color: var(--color-gold);
}

.border-gold {
  border-color: var(--color-gold);
}
